In [1]:
import time
import numpy as np
import pandas as pd

from pycaret.datasets import get_data
from pycaret.classification import *

In [2]:
data = get_data('juice', verbose=False)

In [3]:
y = ["a" if i else "b" for i in data.iloc[:, -1]]

In [ ]:
exp = setup(data=data, target=y, session_id=123)

In [ ]:
exp.create_model("lr")

In [5]:
exp.create_model("lr")

LogisticRegression(max_iter=1000, random_state=123)